@import (less) "normolize.css";

@color-light-s: #FAFAFA;
@color-light-l: #F6F6F6;
@color-light-xl: #fff;
@color-dark-s: #CDCDCD;
@color-dark-m: #B2B2B2;
@color-dark-l: #545454;
@color-dark-xl: #4C4C4C;
@color-dark-2xl: #444;
@color-dark-3xl: #292929;
@color-primary: #F1CDB3;
@color-primary-light: #FDDCC4;

html {
  color: @color-dark-xl;
  font-size: 15px;
  line-height: 1.6;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

body {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input, button, select, option, textarea {
  font-family: Georgia, serif;
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
  font-weight: normal;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.btn {
  display: inline-block;
  padding: 13px 43px;
  border: 2px solid @color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  background: transparent;
  color: @color-dark-xl;
  letter-spacing: 0.06em;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  text-decoration: none;
  font-family: Georgia, serif;
  &:hover {
    background-color: @color-primary-light;
    border-color: @color-primary-light;
    color: @color-dark-xl;
  }
}
.btn-solid {
  background: @color-primary;
}

.wrapper {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.page-section {
  padding: 80px 0 100px;
  min-width: 1280px;
}

/* Header styles
   ========================================================================== */

.page-header {
  position: absolute;
  min-width: 1280px;
  left: 0;
  right: 0;
  top: 0;
  padding: 60px 0 20px;
  color: @color-light-xl;
}

.header-row {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: auto;
  text-align: center;
}
.header-logo-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0 0 10px;
  color: @color-primary;
}
.header-logo-text {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  color: @color-light-xl;
}

.header-nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    &:not(:first-child) {
      margin-left: 36px;
    }
    &.active a {
      border-bottom-color: @color-primary;
      color: @color-light-s;
    }
  }
  a {
    display: block;
    border-bottom: 3px solid transparent;
    color: @color-dark-s;
    text-decoration: none;
    transition: border-bottom-color 0.2s ease-out, color 0.2s ease-out;
    &:hover {
      color: @color-light-s;
    }
  }
}



/* Not only styles
   ========================================================================== */

.not-only-section {
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-size: 132px 130px, auto;
  color: @color-light-xl;
  min-width: 1280px;
}

.not-only-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 908px;
  box-sizing: border-box;
  padding-top: 100px;
}
.not-only-info {
  width: 38.33333%;
  margin-right: 3.5%;
}

.not-only-info-title {
  font-size: 44px;
  line-height: 130%;
  margin: 0 0 42px;
  color: @color-light-xl;
  max-width: 310px;
  letter-spacing: normal;
}
.not-only-info-text {
  margin: 0 0 41px;
  color: @color-dark-s;
}

.not-only-img {
  align-self: flex-end;
  width: 58.16666%;
}



/* About styles
   ========================================================================== */

h2, .like-h2 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: @color-dark-l;
  margin: 0 0 25px;
  font-family: Georgia, serif;
}
h3, .like-h3 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: @color-dark-l;
  margin: 0 0 30px;
  font-family: Georgia, serif;
}
h4, .like-h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: @color-dark-l;
  margin: 0;
  font-family: Georgia, serif;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}
.about-img-block {
  width: 35.2941176%;
}
.about-info {
  width: 50.588235%;
  > *:last-child {
    margin: 0;
  }
  h2 {
    max-width: 370px;
  }
  p {
    margin: 0 0 25px;
  }
}



/* Pets styles
   ========================================================================== */

.pets-section {
  background: @color-light-l;
  text-align: center;
}
.pets-section-title {
  margin: 0 auto 60px;
}

.pets-slider {
  margin-bottom: 60px;
  position: relative;
}
.pets-slider-row {
  display: flex;
  padding: 0 60px;
}
.pets-slider-elem {
  margin: 0 45px;
  padding: 30px 35px;
  background-color: @color-light-s;
  border-radius: 9px;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: @color-light-xl;
  }
}
.pets-slider-elem-img {
  display: block;
  margin: 0 auto 30px;
}
.pets-slider-elem-title {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0 0 30px;
}

.pets-slider-nav-btn {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 50%;
  margin-top: -26px;
  border: 2px solid @color-primary;
  box-sizing: border-box;
  border-radius: 50%;
  color: @color-dark-3xl;
  background: none;
  padding: 0;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
  &:hover {
    border-color: @color-primary-light;
    background-color: @color-primary-light;
  }
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
  &:disabled {
    border-color: @color-dark-s;
    color: @color-dark-s;
    background: transparent;
    cursor: default;
  }
  svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}



/* Help styles
   ========================================================================== */

.help-section {
  text-align: center;
}
.help-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -20px;
}
.help-elem {
  margin: 35px 60px 20px;
}
.help-elem-icon {
  color: @color-primary;
  margin-bottom: 30px;
}



/* Donation styles
   ========================================================================== */

.donation-section {
  background: @color-light-l;
  min-width: 1280px;
}
.donation-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 915px;
  margin: 1px auto;
}
.donation-img-block {
  width: 55.1912568%;
}
.donation-info {
  width: 41.5300546%;
  > * {
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
  }
  h2 {
    max-width: 300px;
  }
  p {
    margin: 0 0 20px;
  }
}

.donation-btn-top-info {
  margin: 0 auto 20px;
  font-size: 15px;
  line-height: 110%;
  font-family: Georgia, serif;
  letter-spacing: 0.06em;
}
.donation-btn {
  padding: 8px 13px;
  font-size: 20px;
  line-height: 115%;
  display: inline-flex;
  border-radius: 9px;
}
.donation-btn-icon {
  margin-right: 15px;
}
.small-info {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: @color-dark-m;
}



/* Footer styles
   ========================================================================== */

.page-footer {
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: 132px 130px, auto;
  color: @color-light-xl;
  padding-top: 40px;
  min-width: 1280px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-col {
  margin-top: 23px;
}
.footer-col-contacts {
  max-width: 280px;
}
.footer-col-location {
  max-width: 302px;
}
.footer-col-title {
  color: @color-light-xl;
}
.footer-col-link-elem {
  display: flex;
  align-items: center;
  min-height: 46px;
  margin: 0;
  padding: 7px 0 19px;
}
.footer-col-link {
  color: @color-primary;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-out;
  &:hover {
    color: @color-primary-light;
  }
  svg {
    margin-right: 20px;
    flex: 1 0 auto;
  }
}