@import "normolize.css";
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
button {
  cursor: pointer;
}
.game-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 404px;
}
.game-info {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-timer {
  max-width: 84px;
}
.game-body-menu-open .game-menu {
  display: flex;
  opacity: 1;
}
.game-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  display: none;
  border-radius: 5px;
  opacity: 0;
  animation: opacity 0.2s ease-out;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-field-cont {
  position: relative;
  margin-bottom: auto;
}
.game-field {
  position: relative;
  width: 400px;
  padding: 2px;
  border: 1px solid tomato;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.chip,
.empty {
  height: 96px;
  width: 96px;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 5px;
  vertical-align: middle;
  transition: top 0.2s ease-out, left 0.2s ease-out;
  position: relative;
  top: 0;
  left: 0;
  outline: none;
}
.chip {
  border: 1px solid tomato;
  cursor: pointer;
  background: rgba(255, 99, 71, 0.1) url('../img/1.jpg');
  background-size: 400% 400%;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  font-weight: bold;
}
.chip[data-id="1"] {
  background-position: -100% 0;
}
.chip[data-id="2"] {
  background-position: -200% 0;
}
.chip[data-id="3"] {
  background-position: -300% 0;
}
.chip[data-id="4"] {
  background-position: 0 -100%;
}
.chip[data-id="5"] {
  background-position: -100% -100%;
}
.chip[data-id="6"] {
  background-position: -200% -100%;
}
.chip[data-id="7"] {
  background-position: -300% -100%;
}
.chip[data-id="8"] {
  background-position: 0 -200%;
}
.chip[data-id="8"] {
  background-position: -100% -200%;
}
.chip[data-id="9"] {
  background-position: -200% -200%;
}
.chip[data-id="10"] {
  background-position: -300% -200%;
}
.chip[data-id="11"] {
  background-position: 0 -300%;
}
.chip[data-id="12"] {
  background-position: -100% -300%;
}
.chip[data-id="13"] {
  background-position: -200% -300%;
}
.chip[data-id="14"] {
  background-position: -300% -300%;
}
.chip:hover {
  box-shadow: 0 0 3px tomato;
}
.empty {
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  cursor: default;
}
.game-menu button {
  background: tomato;
  color: #fff;
  padding: 8px;
  border: 2px solid #fff;
  box-shadow: 0 0 3px #000;
  margin: 4px 12px;
  display: block;
  width: 100%;
  max-width: 200px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.game-menu button:hover {
  color: tomato;
  background-color: #fff;
}
.game-menu .game-load,
.game-menu .game-resume,
.game-menu .game-save {
  display: none;
}
.game-body-load-btn .game-load,
.game-body-resume-btn .game-resume,
.game-body-resume-btn .game-save {
  display: block;
}
.game-over-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  display: none;
  border-radius: 5px;
  padding: 12px;
  opacity: 0;
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  line-height: 1.4em;
  animation: opacity 0.2s ease-out;
}
.game-over-text.active {
  display: flex;
  opacity: 1;
}
@media (max-width: 460px) {
  .game-body {
    width: 304px;
  }
  .game-field {
    width: 300px;
    padding: 2px;
  }
  .chip,
  .empty {
    height: 73px;
    width: 73px;
    margin: 1px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */